.sidenav {
    background-color: #828594;
    width: 150px;
}

.sidenav a {
    color: rgb(255, 255, 255);
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}