table {
    border-collapse: collapse;    
    width: 100%;
}

.mat-header-cell {
    font-weight: bold;
    font-size: 16px;
    color: rgb(3, 3, 3);
}
 
th, td {
    text-align: left;
    padding: 8px;
}
 
tr:nth-child(even){
    background-color: rgba(106, 141, 173, 0.71);
    color: white;
}
 
th {
    background-color: #213E8D;
    color: white;
}
 
a{
    cursor: pointer; 
    cursor: hand; 
    text-decoration:underline;
 
}

i.deposito {
    color: #3bd926
}

i.saque {
    color: #e35e6b
}